@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: "Inter", sans-serif;
  //   list-style: none;
  // outline: 1px solid red;
}

body {
  overflow-x: hidden;
}

html {
  scroll-padding-top: 50px;
}

.mar-top {
  margin-top: 100px;
}

// Navigation

.navigation {
  .container-fluid {
    .container {
      .navbar {
        .navbar-brand {
          color: #46528a;
          font-weight: 600;
          font-size: 20px;
        }
        .navbar-nav {
          .nav-item {
            .nav-link {
              font-weight: 400;
              font-size: 18px;
              color: #0d1c37;
            }
          }
        }
        .btn {
          background-color: #312ecb;
          color: white;
          width: 143px;
          height: 36px;
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
        }
      }
    }
  }
}

// Header

.header {
  .container-fluid {
    .container {
      .heading {
        display: flex;
        align-items: center;
        .left-header {
          h1 {
            font-weight: 700;
            font-size: 37px;
            color: #0d1c37;
          }
          p {
            font-weight: 400;
            font-size: 18px;
            color: #6b717c;
            line-height: 30px;
          }
        }
      }
    }
  }
}

// Logo
.logo {
  .container-fluid {
    background-color: #d9d9d9;
    height: 237px;
    display: flex;
    .logo-core {
      color: #838383;
      margin: auto;
      img {
        padding: 11px;
      }
    }
  }
}

.what-they-said {
  .container-fluid {
    .container {
      .what-they-said-core {
        h1 {
          font-weight: 700;
          font-size: 40px;
          color: #0d1c37;
        }
        p {
          font-weight: 400;
          font-size: 18px;
        }
        .carousel {
          background: rgb(42, 59, 89);
          background: linear-gradient(
            129deg,
            rgba(42, 59, 89, 1) 0%,
            rgba(90, 93, 98, 0.5242471988795518) 59%,
            rgba(20, 28, 41, 0.12368697478991597) 82%,
            rgba(255, 255, 255, 0.35898109243697474) 83%
          );

          height: 283px;
          border-radius: 10px;
          margin-top: 80px;
          #carouselExampleDark {
            .carousel-inner {
              .carousel-item {
                color: #ffffff;
                max-width: 60%;
                text-align: justify;
                padding-left: 40px;
                padding-top: 20px;
                .content-carousel {
                  display: flex;
                  img {
                    border-radius: 50%;
                  }
                  .scarlet-witch-text {
                    h5 {
                      font-weight: 700;
                      font-size: 25px;
                    }
                    p {
                      font-weight: 400;
                      font-size: 18px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// Images Like
.likes-image {
  .container-fluid {
    img {
      width: 100%;
    }
  }
}

// Contact Us
.contact-us {
  .container-fluid {
    background-color: #0d1c37;
    color: white;
    padding: 40px;
    .contact-us-core {
      .row {
        a {
          font-weight: 600;
          font-size: 30px;
          line-height: 37px;
        }
      }
    }
  }
}

// footer
.footer {
  .container-fluid {
    .container {
      .footer-core {
        display: flex;
        justify-content: space-between;
        p {
          font-weight: 600;
          font-size: 18px;
          line-height: 30px;
          color: #6b717c;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  // Header
  .header {
    .container-fluid {
      .container {
        .heading {
          display: flex;
          align-items: center;
          .left-header {
            h1 {
              font-weight: 700;
              font-size: 20px;
              color: #0d1c37;
            }
            p {
              font-weight: 400;
              font-size: 12px;
              color: #6b717c;
            }
          }
          .right-header {
            display: flex;
            justify-content: start;
            width: 230px;
            height: 230px;
          }
        }
      }
    }
  }

  // Logo
  .logo {
    .container-fluid {
      .logo-core {
        img {
          width: 40%;
          height: 40%;
        }
      }
    }
  }

  // What They Said
  .what-they-said {
    .container-fluid {
      .container {
        .what-they-said-core {
          h1 {
            font-size: 20px;
          }
          p {
            font-size: 12px;
          }
          .carousel {
            #carouselExampleDark {
              .carousel-inner {
                .carousel-item {
                  .content-carousel {
                    display: block;
                  }
                  .scarlet-witch-text-paragraf {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // Contact Us
  .contact-us {
    .container-fluid {
      padding: 20px;
      .contact-us-core {
        .row {
          a {
            font-weight: 600;
            font-size: 15px;
          }
          h5 {
            font-size: 15px;
          }
          p {
            font-size: 10px;
          }
        }
      }
    }
  }

  // Footer
  .footer {
    .container-fluid {
      .container {
        .footer-core {
          p {
            font-size: 70%;
          }
        }
      }
    }
  }
}
